<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>testests</title>
</head>
<body>
  <div class="form-container">
    <form action="https://formspree.io/f/xleqdyvd" method="POST">
<div class="column1">
<div class="column2">
        <textarea class="tisti3" name="message" rows="4" placeholder="Message" onclick="if (!window.__cfRLUnblockHandlers) return false; if (!window.__cfRLUnblockHandlers) return false; hideLabel(this)"></textarea>
</div>
      <div class="input-field1">
        <textarea class="tisti1" name="name" rows="1" placeholder="Name" onclick="if (!window.__cfRLUnblockHandlers) return false; if (!window.__cfRLUnblockHandlers) return false; hideLabel(this)"></textarea>
      </div>
      <div class="input-field2">
        <textarea class="tisti2" name="phone" rows="1" placeholder="Phone number" onclick="if (!window.__cfRLUnblockHandlers) return false; if (!window.__cfRLUnblockHandlers) return false; hideLabel(this)"></textarea>
      </div></div>
      
      <button type="submit" class="submit-btn">Send</button>
    </form>
  </div>
<script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon="{&quot;rayId&quot;:&quot;84abbef14ea6952a&quot;,&quot;r&quot;:1,&quot;version&quot;:&quot;2024.1.0&quot;,&quot;token&quot;:&quot;6d6354ff94b6480c8784b1a1c206ce3c&quot;}" crossorigin="anonymous"></script>


</body></html>