* {
  resize: none;
}

body {
  margin: 0;
  font-family: "times", serif;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  width: 66%;
  margin: 20px auto;
}



.tisti1 {
    lenght: 30px;
    width: 90px;
    margin-top: -47px;
    position: absolute ;
    
}

.tisti2 {
    
    width: 90px;
    margin-top: -23px;
    position: absolute;
    
}




.tisti3{
    width: 294px;
    height: 43px;
    margin-left: 94px;
    margin-top: 40px;
    margin-bottom: 4px
    
}






.submit-btn {
  width: 388px;
  background-color: red;
   
  border: 1px solid grey;
  color: white;
  text-align: center;
  cursor: pointer;
}
