/* RESET 
--------------------------------------*/

* {margin: 0;padding: 0;box-sizing: border-box;font-size: 16px;line-height: 28px;text-indent: 0px;font-family: 'times new roman', sans-serif;}

a {
    text-decoration: none;
    color: #7b7a7a;
}

a:hover {
    color: #a7a268;
}

ul {
    list-style: none;
}

/* CONTENT STYLING 
--------------------------------------*/

/* On screens that are 500px or less, set the background color to blue */


img {

margin: auto 16px;

margin-top: 10px;

float: left;

width: 43px;

height: 43px;

}

.logo {
    font-weight: 500;
    font-size: 21px;
    color: #666666;
    line-height: 20px;
    text-indent: 6px;
    padding: 35px;
    letter-spacing: -0px;
    border-bottom: 1px solid #000000;
    margin-bottom: 21px;
    margin-top: 6px;
}

li {
    margin-top: -9px;
    margin-left: 20px;
}
