* {
    margin: 0;
    font-size: 18px;
    font-family: 'times new roman', sans-serif;
    font-weight: 100;
}

a {
  text-decoration: none;
  color: #7b7a7a;
}

b {
  text-decoration: none;
  color: #ff0000;
}

a:hover {
  color: #ff0000;
}

b:hover {
  color: #7b7a7a;
}



img {
  margin-left: 16px;
}

.top {
    line-height: 21px;
    padding: 10px 0 16px 0;
    border-bottom: 1px solid #000000;
    margin-top: 6px;
    display: flex;
    text-indent: 0px;
    justify-content: space-between;
    
}

.eae { 
    position: absolute;
    margin-top: 11;
    display: flex;
    text-indent: 17px;
   right:  20;
      
}

.content {
  margin-left: 20px;
  margin-top: 16px;
}

.baptism {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  block-size: 360px;
  writing-mode: vertical-rl;
}

/* Cracky is catharsis https://cracky-chan.com/ */


