/* RESET 
--------------------------------------*/

* {margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;line-height: 30px;text-indent: 0px;font-family: 'times new roman', sans-serif;}

a {
    text-decoration: none;
    color: #666666;
}

a:hover {
    color: #bdb76b;
}

ul {
    list-style: none;
}

/* CONTENT STYLING 
--------------------------------------*/

/* On screens that are 500px or less, set the background color to blue */
@media screen and (min-width: 0px) and (max-width:500px) {

    body * {
        display: none;
    }

    .mobile-message {

        display: block;
        text-align: center;
        color: #666666;
        line-height: 1.2em;
        position: relative;
        top: 50%;

    }

}

@media screen and (min-width:500px) {
    .mobile-message {
        display: none;
    }
}

.logo {
    font-weight: 500;
    font-size: 18px;
    color: #666666;
    line-height: 20px;
    text-indent: 10px;
    padding: 10px;
    letter-spacing: -0px;
    border-bottom: 1px solid #000000;
    margin-bottom: 19px
}

li {
    margin-top: -9px;
    margin-left: 20px;
}
