img {

    margin: 8px;
    margin-left: 13px;
    margin-top: 13px;
    float: left;
    }
a {

position: relative;
        top: 50%;
    }
p {
        
display: block;
    text-align: center;
    color: #666666;
    line-height: 74.1em;
    position: absolute;
    margin: 500x;
    margin-left: 808px;

     }
