img {

    margin: 8px;
    margin-left: 13px;
    margin-top: 13px;
    float: left;
    }
a {

position: relative;
        top: 50%;
    }
p {
        
    color: #666666;
    position: absolute;
    margin: 500x;
    margin-top:546px;
    margin-left: 798px;

     }
